﻿@{
    Layout = "";
}
@model Nop.Plugin.Shipping.Fastway.Models.FastwayShippingModel
@using Nop.Web.Framework;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
	            <div class="form-group">
		            <div class="col-md-3">
			            @Html.NopLabelFor(model => model.ApiKey)
		            </div>
		            <div class="col-md-9">
			            @Html.NopEditorFor(model => model.ApiKey)
			            @Html.ValidationMessageFor(model => model.ApiKey)
		            </div>
	            </div>
				
	            <div class="form-group">
		            <div class="col-md-3">
			            @Html.NopLabelFor(model => model.FranchiseCode)
		            </div>
		            <div class="col-md-9">
			            @Html.NopEditorFor(model => model.FranchiseCode)
			            @Html.ValidationMessageFor(model => model.FranchiseCode)
		            </div>
		            <div class="col-md-12">
			            <p>AUK : Auckland</p>
		            </div>
	            </div>

	            <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AdditionalHandlingCharge)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalHandlingCharge)
                        @Html.ValidationMessageFor(model => model.AdditionalHandlingCharge)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div> 
}