﻿@model EstimateShippingModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Enabled)
{
    <div class="shipping">
        <div class="estimate-shipping">
            <div class="title">
                <strong>@T("ShoppingCart.EstimateShipping")</strong>
            </div>
            <div class="hint">@T("ShoppingCart.EstimateShipping.Tooltip")</div>
            <div class="shipping-options">
                <div class="inputs">
                    <label for="City">City:</label>
	                @Html.TextBoxFor(model => model.City, new { @class = "city-input" })
                </div>
                <div class="inputs">
                    @Html.LabelFor(model => model.ZipPostalCode, new { }, ":")
                    @Html.TextBoxFor(model => model.ZipPostalCode, new { @class = "zip-input" })
                </div>
                <div class="buttons">
                    <input id="estimate-shipping-button" type="button" value="@T("ShoppingCart.EstimateShipping.Button")" class="button-2 estimate-shipping-button" />
                </div>
            </div>
            <div class="estimate-shipping-result"></div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#estimate-shipping-button').click(function() {
            displayAjaxLoading(true);
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("EstimateShipping"))",
                data: $("#shopping-cart-form").serialize(),
                success: function(data) {
                    displayAjaxLoading();
                    $('.estimate-shipping-result').html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    displayAjaxLoading();
                    alert('Failed to retrieve estimate shipping.');
                }
            });
        });

        $("#@Html.FieldIdFor(model => model.ZipPostalCode)").keydown(function (event) {
            if (event.keyCode == 13) {
                //$("#estimate-shipping-button").click();
                return false;
            }
        });

        $("#@Html.FieldIdFor(model => model.ZipPostalCode)").change(function(event) {
            if ($("#@Html.FieldIdFor(model => model.ZipPostalCode)").val() !== '' &&
                $("#@Html.FieldIdFor(model => model.City)").val() !== '') {
                $("#estimate-shipping-button").prop('disabled', false);
                $("#estimate-shipping-button").show();
            } else {
                $("#estimate-shipping-button").prop('disabled', true);
                $("#estimate-shipping-button").hide();
            }
        });

        $("#@Html.FieldIdFor(model => model.City)").change(function(event) {
            if ($("#@Html.FieldIdFor(model => model.ZipPostalCode)").val() !== '' &&
                $("#@Html.FieldIdFor(model => model.City)").val() !== '') {
                $("#estimate-shipping-button").prop('disabled', false);
                $("#estimate-shipping-button").show();
            } else {
                $("#estimate-shipping-button").prop('disabled', true);
                $("#estimate-shipping-button").hide();
            }
        });
    });
</script>