﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.BankDeposit.Models.PaymentInfoModel

<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p>
                @Html.Raw(Model.DescriptionText)
            </p>
        </td>
    </tr>
</table>
